html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  font-size: 1.5rem;
  padding: 1vw;
}

h1 {
  width: 100%;
  margin: 3vw auto;
  font-size: 4rem;
  text-align: center;
}

.booking-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.headshot {
  width: 40%;
}

.booking {
  width: 40%;
  line-height: 1.5em;
}

h2 {
  font-size: 2.5rem;
  margin: 0 0 4% 0;
}

button {
  width: 90%;
  height: 10%;
  margin: 10px 0px;
  background-color: coral;
  font-size: 1.5rem;
  color: white;
}
